node-option=--no-warnings
legacy-peer-deps=true
use-node-version=18.18.0
loglevel=error

# Désactiver explicitement la transformation vers CommonJS
omit[]=@babel/plugin-transform-modules-commonjs

# Préférer les modules ES plutôt que CommonJS
prefer-modern-module-resolution=true
